**/.ipynb_checkpoints
**/__pycache__

/papers
/tmp

/dashboard/clean
/dashboard/res

/hsfai/results
/hsfai/resources
/hsfai/network-analysis/results

/hsle/data/completed
/hsle/data/crowdtangle-groups
/hsle/data/crowdtangle-posts
/hsle/data/exportcomments-outputs
/hsle/data/to-annotate